.about {
  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 30px;
}

.about__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 25px;
  line-height: $big-line;
}

.about__list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
  font-size: $basic-font-size;
  line-height: $little-line;
}

.about__item {
  padding-top: 55px;
}

@media (min-width: $tablet-width) {
  .about {
    width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
  }

  .about__item {
    width: $tablet-width / 2 - $tablet-padding;
    padding-top: 110px;

    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: $desktop-width;
    padding: 0 $desktop-padding;
    padding-left: 225px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about__item {
    width: 350px;
  }
}
