.about {
  padding: 0 30px;
}

.about__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 25px;
  line-height: $big-line;
}

.about__list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
  font-size: $basic-font-size;
  line-height: $little-line;
}

.about__item {
  padding-top: 55px;
}
