.buy {
  display: flex;
  justify-content: space-between;
  padding: 21px 27px 27px;
}

.buy__price {
  font-size: 15px;
  line-height: $middle-line;
}

.buy__cart:focus {
  outline: none;

  & .buy__icon {
    opacity: 1;

    fill: #63d1bb;
  }
}

.buy__cart:active {
  & .buy__icon {
    opacity: 0.3;

    fill: #63d1bb;
  }
}

.buy__icon {
  width: 21px;
  height: 18px;

  opacity: 0.2;

  fill: #221f1f;

  &:hover,
  &:focus {
    opacity: 1;

    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;

    fill: #63d1bb;
  }
}

@media (min-width: $tablet-width) {
  .buy {
    width: 270px;
    margin-top: auto;
    margin-left: 31px;
    padding: 22px 0 26px;

    border-top: 1px solid #ececec;
  }

  .buy__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .buy {
    width: 256px;
    margin-left: 27px;
  }
}
