.copyright {
  @include mobile-size;

  margin: 0 auto;

  text-align: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: auto;
    padding: 0;
  }
}
