.feature {
  padding: $mobile-padding;
  padding-top: 27px;
  padding-bottom: 36px;
}

.feature__header {
  margin-bottom: 23px;
}

.feature__title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 25px;
  line-height: $big-line;
}

.feature__promo {
  margin: 0;

  font-size: $basic-font-size;
  line-height: $little-line;
  color: #63d1bb;
  text-transform: uppercase;
}

.feature__description {
  margin: 0;
  margin-bottom: 17px;

  font-weight: 400;
  font-size: 15px;
  line-height: $middle-line;
  color: $text-color;
}

.feature__table {
  width: 260px;
  margin-bottom: 29px;

  border-collapse: collapse;
  font-weight: 400;
  font-size: 15px;
  line-height: $little-line;
  color: #444444;
}

.feature__row {
  border-bottom: 1px solid #ececec;
}

.feature__field {
  width: 98px;
  padding: 10px 0 9px;
}

.feature__value {
  padding: 10px 0 9px;

  letter-spacing: -0.2px;
}

.feature__price {
  margin: 22px 0 25px;

  font-size: $basic-font-size;
  line-height: $middle-line;
  text-align: center;
  color: #444444;
}

.feature__big-image {
  display: none;
}

@media (min-width: $tablet-width) {
  .feature {
    @include tablet-size;

    margin: 0 auto 40px;
  }

  .feature__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
  }

  .feature__title {
    margin-left: -3px;

    font-size: 43px;
    line-height: 50px;
  }

  .feature__promo {
    width: 100px;
    margin-right: 12px;

    line-height: 17px;
    text-align: center;
  }

  .feature__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
  }

  .feature__description {
    margin-bottom: 31px;

    font-size: 17px;
    line-height: 30px;
  }

  .feature__price {
    font-size: 20px;
    line-height: 24px;
  }

  .feature__image-wrap {
    display: none;
  }

  .feature__container {
    display: flex;
    justify-content: space-between;
  }

  .feature__big-image {
    display: block;
    padding-top: 8px;
  }

  .feature__big-image--pict {
    width: 333px;
    height: 404px;
  }
}

@media (min-width: $desktop-width) {
  .feature {
    @include desktop-size;

    padding-bottom: 80px;
  }

  .feature__header {
    position: relative;
    z-index: 1;

    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 106px;
    margin-bottom: -122px;
  }

  .feature__title {
    font-size: 53px;
    line-height: 57px;
    letter-spacing: -0.3px;
  }

  .feature__promo {
    margin: 4px 43px 0 32px;
  }

  .feature__wrap {
    margin-top: 165px;
    margin-left: 175px;
  }

  .feature__description {
    margin-bottom: 42px;
  }

  .feature__table {
    width: 290px;
    margin-bottom: 80px;
  }

  .feature__field,
  .feature__value {
    padding: 8px 0 11px;
  }

  .feature__big-image--pict {
    width: 525px;
    height: 636px;
  }
}
