.logo__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}

.logo__link {
  display: block;
  margin: 22px 0 16px;
  margin-right: 67px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__image {
  width: 86px;
  height: 35px;
}

.logo__toggle {
  display: block;
  margin-bottom: 2px;
  padding: 0;

  vertical-align: middle;

  background-color: #ffffff;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;

  &--open {
    width: 20px;
    height: 14px;
    margin-left: 1px;

    background-image: url("../img/icon-menu-open.svg");
  }

  &--close {
    width: 21px;
    height: 20px;
    margin-left: 0;

    background-image: url("../img/icon-menu-close.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .logo__wrapper {
    padding: 0;
  }

  .logo__link {
    margin: 22px 100px 14px -2px;
  }

  .logo__image {
    width: 113px;
    height: 46px;
  }

  .logo__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo__wrapper {
    margin-right: 25px;
  }

  .logo__link {
    margin: 0;
    margin-top: 9px;
  }

  .logo__image {
    width: 149px;
    height: 72px;
  }
}
