.page-header {
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-header {
    @include tablet-size;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include desktop-size;
  }
}
