.page-header {
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-header {
    box-sizing: border-box;
    width: $tablet-width;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }
}
