.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  @include mobile-size;

  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: block;
  }

  .page-footer__wrap {
    @include tablet-size;

    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrap {
    @include desktop-size;
  }
}
