.reviews {
  @include mobile-size;
  position: relative;

  padding-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 6px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 25px;
  line-height: $big-line;
}

.reviews__item {
  margin: 0;
  margin-bottom: 29px;

  font-weight: 400;
}

.reviews__text {
  font-size: 15px;
  line-height: $big-line;
  color: $text-color;

  br {
    display: none;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: $basic-font-size;
  font-style: normal;
  letter-spacing: 0.1px;
}

.reviews__link-name {
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1.8px;
}

.reviews__toggles {
  margin-bottom: 38px;

  font-size: 0;
}

.reviews__toggle {
  width: 130px;
  height: 52px;

  font-size: auto;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 48% 50%;
  border: 1px solid #ececec;
  outline: none;
  cursor: pointer;

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $tablet-width;
    min-height: 457px;
    padding: 77px $tablet-padding 97px 46px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {
      height: 17px;

      background-image: url("../img/bg-zigzag-line.svg");
      background-position-x: 14px;
      background-size: auto 15.5px;
    }
  }

  .reviews__title {
    order: -1;
    margin-bottom: 32px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__write-link {
    order: -1;
    width: 175px;
    height: 52px;
    margin-top: 2px;
  }

  .reviews__item {
    width: $tablet-data-width;
    margin-bottom: 42px;
    margin-left: 3px;

    font-size: 17px;
  }

  .reviews__text {
    font-size: inherit;
  }

  .reviews__author-name {
    margin-left: 3px;

    font-size: 18px;
  }

  .reviews__link-name {
    display: block;

    font-size: inherit;
    letter-spacing: -0.6px;
  }

  .reviews__toggle {
    width: 87px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: $desktop-width;
    margin-bottom: 10px;
    padding-top: 93px;
    padding-bottom: 149px;
    padding-left: 220px;

    background-position: 50px 22px;

    &::after {
      height: 21px;
      width: $desktop-data-width;
      margin: 0 $desktop-margin;

      background-image: url("../img/bg-zigzag-line.svg");
      background-position: 24px;
      background-size: auto 21px;
    }
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    width: 800px;
    margin-bottom: 24px;
    margin-left: 5px;
  }

  .reviews__text {
    br {
      display: inline;
    }
  }

  .reviews__author-name {
    letter-spacing: -0.4px;
  }

  .reviews__write-link {
    margin-top: 9px;
  }
}
