.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: $basic-font-size;
  line-height: $middle-line;
}

.site-list__item {
  box-sizing: border-box;

  border-bottom: 1px solid #ececec;
}

.site-list__link {
  position: relative;

  display: block;
  padding: 27px;
  padding-left: 75px;

  color: $title-color;
  text-decoration: none;

  &:hover .site-list__link-text {
    opacity: 0.6;
  }

  &:hover .site-list__icon {
    opacity: 1;

    path {
      fill: #63d1bb;
    }
  }

  &:active .site-list__link-text {
    opacity: 0.3;
  }

  &:active .site-list__icon {
    opacity: 0.3;

    path {
      fill: #63d1bb;
    }
  }
}

.site-list__icon {
  position: absolute;
  top: 31px;
  left: 31px;

  width: 18px;
  height: 18px;

  opacity: 0.2;
}

.site-list__icon--cart {
  width: 21px;
}

.site-list__item--promo {
  display: none;
}

.site-list__item--desktop {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .site-list--closed .site-list__item--openable {
    display: none;
  }

  .site-list--opened .site-list__item--openable {
    display: block;
  }

  .site-list--nojs {
    .site-list__toggle {
      display: none;
    }

    .site-list__link--logo {
      margin-right: 87px;
    }

    .site-list__item--openable {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-list__item {
    border: none;
  }

  .site-list__link {
    padding: 0;
  }

  .site-list__item--logo {
    margin-right: auto;
  }

  .site-list__item--bottom {
    order: 1;
    margin-top: 18px;

    font-size: 15px;
  }

  .site-list__item--search {
    width: 84px;

    font-size: 0;

    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }

  .site-list__item--cart {
    width: 264px;
  }

  .site-list__link--cart {
    margin: 31px 0 33px;
    padding-left: 82px;
  }

  .site-list__link--search {
    margin: 36px 0 28px;
  }

  .site-list__icon {
    top: 0;
  }

  .site-list__icon--cart {
    top: 3px;
  }

  .site-list__item--catalog {
    margin-right: 37px;
  }

  .site-list__item--promo {
    display: block;
    order: 1;
    margin-left: auto;

    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--logo {
    margin-left: auto;
  }

  .site-list__item--cart {
    width: 266px;
  }

  .site-list__item--desktop {
    display: block;
    margin-right: 60px;
    padding-top: 18px;

    font-size: 15px;
    letter-spacing: 0.01em;
  }

  .site-list__item--bottom {
    order: -1;
    margin: 0;
    padding: 32px 0;

    font-size: 17px;
  }

  .site-list__item--promo {
    order: 0;
    margin-left: auto;
    padding: 18px 0 0;

    font-size: 15px;
  }

  .site-list__item--catalog {
    min-width: 185px;

    border-right: 1px solid #ececec;
  }

  .site-list__item--order {
    margin-left: 35px;
  }
}
