.video {
  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $mobile-padding;
}

.video__title {
  padding-left: 90px;

  font-size: $basic-font-size;
  line-height: 24px;
}

.video__description {
  font-weight: 400;
  font-size: 13px;
  line-height: $middle-line;
  color: $text-color;
}

.video__link {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .video {
    display: flex;
    flex-direction: column;
    width: $tablet-width;
    padding: 0 $tablet-padding;
  }

  .video__title,
  .video__description,
  .video__link {
    margin: 0 40px;
  }

  .video__link {
    width: auto;
  }

  .video__window {
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .video {
    flex-wrap: wrap;
    justify-content: space-around;
    width: $desktop-width;
    height: 455px;
    padding: 0 $desktop-padding;
  }

  .video__title {
    width: 150px;
  }

  .video__description {
    width: 280px;
  }

  .video__window {
    height: 455px;
    width: 682px;
  }

  .video__link {
    width: 230px;
  }
}
