.video {
  padding: 0 30px;
}

.video__title {
  padding-left: 90px;

  font-size: $popular-size;
  line-height: 24px;
}

.video__description {
  font-weight: 400;
  font-size: 13px;
  line-height: $middle-line;
  color: #444444;
}
