// width of devices
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

// popular line-height
$little-line: 20px;
$middle-line: 24px;
$big-line: 30px;

// most popular font-size
$basic-font-size: 17px;

// color
$text-color: #444444;
$title-color: #000000;

// padding/margin
$mobile-padding: 30px;
$mobile-margin: 30px;
$tablet-padding: 50px;
$desktop-padding: 50px;
$tablet-margin: 50px;
$desktop-margin: 50px;
